<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Nome
          </th>
          <th>
           Versione
          </th>
         <th> 
           
         </th>
         <th>
           Cat_id
         </th>
         <th>
           formato_id
         </th>
         <th>
           environment_id
         </th>
         <th>
           valut_id
         </th>
         <th>         
         
         </th>
         <th>
           Edit
          </th>
          <th>
          Pacchetto
          </th>
        </tr>
        <tr>
          <td>
         
            <input placeholder="nome" [(ngModel)]="pacchettotoinsert.nome">
          </td>
          
         <td> 
           <input placeholder="versione" [(ngModel)]="pacchettotoinsert.versione">
         </td>
         <td>
            
         </td>
         <td>
            <select [(ngModel)]="pacchettotoinsert.categoryDTO">
              <option *ngFor="let category of categories" [ngValue]="category" >{{category.id}}</option> >
            </select>
         </td>
<td>

</td>
<td>

</td>
         





<td>

</td>



         <td>
          </td>
          <td>
            <button (click)="insert(pacchettotoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let p of pacchetto">
          <td>
            <input [(ngModel)]="p.nome">
          </td>
          <td>
            <input [(ngModel)]="p.versione">
          </td>
          <td>
           
          </td>
          <td>
             <input [(ngModel)]="event.category">
          </td>
          



            
          
          <td>
            <button (click)="update(p)">Save</button>
          </td>
          <td>
            <button (click)="delete(p)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
